# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
name: Build & Test - Azure

trigger:
  branches:
    include:
      - master
  tags:
    include:
      - '*'

pr:
- master

jobs:

- job: BuildAndTest
  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - task: PowerShell@2
    displayName: 'Setup Build Environment'

    inputs:

      targetType: 'inline'
      script: |
        Install-Module -Name Psake, PSDeploy, BuildHelpers, Platyps -Force -Scope CurrentUser
        Install-Module -Name Pester -Force -SkipPublisherCheck -Scope CurrentUser

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true

  - task: PowerShell@2
    displayName: 'Run Pester Tests'

    inputs:
      targetType: 'filePath'
      filePath: ./Build/Build.ps1
      arguments: -Task Build

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true

  - task: PublishTestResults@2
    displayName: 'Publish Test Results'
    inputs:
      testResultsFormat: NUnit
      testResultsFiles: '*TestResults*.xml'
      searchFolder: '$(Build.ArtifactStagingDirectory)'
      mergeTestResults: true

  - task: PowerShell@2
    condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
    displayName: 'Deploy to Gallery'

    inputs:
      targetType: 'filePath'
      arguments: $(PSApiKey)
      filePath: ./Build/Publish.ps1

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true
