# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
name: Build & Test - Azure
# All branches are default. ?
pr: 
- master

pool:
  vmImage: 'vs2017-win2016'

steps:
- task: PowerShell@2
  displayName: 'Setup Build Environment'
  inputs:
    targetType: 'inline' # Optional. Options: filePath, inline
    #filePath: #Required when targetType == FilePath
    #arguments: # Optional
    script: | 
      Install-Module -Name Psake, PSDeploy, BuildHelpers -Force -Scope CurrentUser
      Install-Module -Name Pester -Force -SkipPublisherCheck -Scope CurrentUser
    errorActionPreference: 'stop' # Optional. Options: stop, continue, silentlyContinue
    failOnStderr: true # Optional
    #ignoreLASTEXITCODE: false # Optional
    pwsh: true # Optional
    #workingDirectory: /home/vsts/work/1/s/
- task: PowerShell@2
  displayName: 'Test & Deploy'
  inputs:
    targetType: 'filePath' # Optional. Options: filePath, inline
    filePath: ./build/build.ps1 #Required when targetType == FilePath
    arguments: -ApiKey $(PSApiKey) -Task Build # Optional
    #script: # Required when targetType == Inline
    errorActionPreference: 'stop' # Optional. Options: stop, continue, silentlyContinue
    failOnStderr: true # Optional
    #ignoreLASTEXITCODE: false # Optional
    pwsh: true # Optional
    #workingDirectory: /home/vsts/work/1/s/

