# YAML spec:
# https://aka.ms/yaml

name: Build & Test - Azure

trigger:
  branches:
    include:
      - master
  tags:
    include:
      - '*'

pr:
- master

jobs:

- job: Linux
  pool:
    vmImage: ubuntu-latest

  steps:
  - template: templates/environment-setup.yml
  - template: templates/build-steps.yml
  - task: PublishPipelineArtifact@1
    displayName: 'Publish Built Module Artifact'
    inputs:
      path: '$(System.DefaultWorkingDirectory)/PSKoans'
      artifact: PSKoans

- job: Windows
  pool:
    vmImage: windows-latest

  steps:
  - template: templates/environment-setup.yml
  - template: templates/build-steps.yml

- job: MacOS
  pool:
    vmImage: macOS-latest

  steps:
  - template: templates/environment-setup.yml
  - template: templates/build-steps.yml

- job: TestPublishModule
  displayName: "Publish Module Nupkg"
  dependsOn:
    - Linux
    - Windows
    - MacOS
  pool:
    vmImage: ubuntu-latest

  steps:
  - template: templates/environment-setup.yml
  - task: DownloadPipelineArtifact@2
    displayName: '[TEST] Download Built Module Artifact'
    inputs:
      artifact: PSKoans
      path: '$(System.DefaultWorkingDirectory)/Deploy/FileSystem/PSKoans'

  - task: PowerShell@2
    displayName: '[TEST] Deploy to FileSystem'
    inputs:
      targetType: 'filePath'
      arguments: -Key $(PSApiKey) -Path '$(System.DefaultWorkingDirectory)/Deploy/FileSystem' -OutputDirectory '$(System.DefaultWorkingDirectory)/Deploy/FileSystem'
      filePath: ./Deploy/Publish.ps1

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true

  - task: PublishPipelineArtifact@1
    displayName: 'Publish Module Nupkg'
    inputs:
      path: '$(NupkgPath)'
      artifact: Nupkg

- job: PublishModule
  displayName: "Publish Module to PSGallery"
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  dependsOn:
    - Linux
    - Windows
    - MacOS
    - TestPublishModule
  pool:
    vmImage: ubuntu-latest

  steps:
  - template: templates/environment-setup.yml
  - task: DownloadPipelineArtifact@2
    displayName: '[PUBLISH] Download Built Module Artifact'
    inputs:
      artifact: PSKoans
      path: '$(System.DefaultWorkingDirectory)/Deploy/PSGallery/PSKoans'

  - task: PowerShell@2
    displayName: '[PUBLISH] Deploy to Gallery'

    inputs:
      targetType: 'filePath'
      arguments: -Key $(PSApiKey) -Path '$(System.DefaultWorkingDirectory)/Deploy/PSGallery'
      filePath: ./Deploy/Publish.ps1

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true
