# YAML spec:
# https://aka.ms/yaml

name: '$(Date:yyyyMMdd)$(Rev:.r) (#$(BuildID)) $(TeamProject) ($(SourceBranchName))'

trigger:
  branches:
    include:
      - master
  tags:
    include:
      - '*'

pr:
- master

stages:
- stage: LinuxTests
  displayName: 'Linux'
  dependsOn: []

  jobs:
  - job: Linux
    displayName: 'Pester Tests'
    pool:
      vmImage: ubuntu-latest

    steps:
    - template: templates/environment-setup.yml
    - template: templates/test-steps.yml

- stage: WindowsTests
  displayName: 'Windows'
  dependsOn: []

  jobs:
  - job: Windows
    displayName: 'Pester Tests'
    pool:
      vmImage: windows-latest

    steps:
    - template: templates/environment-setup.yml
    - template: templates/test-steps.yml

- stage: MacOSTests
  displayName: 'MacOS'
  dependsOn: []

  jobs:
  - job: MacOS
    displayName: 'Pester Tests'
    pool:
      vmImage: macOS-latest

    steps:
    - template: templates/environment-setup.yml
    - template: templates/test-steps.yml

- stage: PublishModule
  displayName: 'Publish Module'
  dependsOn:
    - LinuxTests
    - WindowsTests
    - MacOSTests

  jobs:
  - job: BuildModule
    displayName: "Build Module"
    pool:
      vmImage: ubuntu-latest

    steps:
    - template: templates/environment-setup.yml
    - task: PowerShell@2
      displayName: 'Initialize Environment'

      inputs:
        targetType: 'filePath'
        filePath: ./Build/Build-Module.ps1

        errorActionPreference: 'stop'
        failOnStdErr: true
        pwsh: true

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Built Module Artifact'
      inputs:
        path: '$(BuiltModuleFolder)/PSKoans'
        artifact: PSKoans

  - job: Publish
    dependsOn: BuildModule
    displayName: "Publish Module & Artifacts"
    pool:
      vmImage: ubuntu-latest
    variables:
      builtModulePath: '$(System.DefaultWorkingDirectory)/Deploy/PSKoans'
      fileSystemDeploymentPath: '$(System.DefaultWorkingDirectory)/Deploy/FileSystem'
      galleryDeploymentPath: '$(System.DefaultWorkingDirectory)/Deploy/PSGallery'

    steps:
    - template: templates/environment-setup.yml
    - task: DownloadPipelineArtifact@2
      displayName: 'Download Built Module Artifact'
      inputs:
        artifact: PSKoans
        path: $(builtModulePath)

    - task: PowerShell@2
      displayName: 'Create Module Nupkg'
      inputs:
        targetType: 'filePath'
        filePath: ./Deploy/Publish.ps1
        arguments: -Key 'filesystem' -Path '$(fileSystemDeploymentPath)' -OutputDirectory '$(fileSystemDeploymentPath)'

        errorActionPreference: 'stop'
        failOnStderr: true
        pwsh: true

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Nupkg Artifact'
      inputs:
        path: '$(NupkgPath)'
        artifact: PSKoans.nupkg

    - task: PowerShell@2
      displayName: 'Publish Module to PSGallery'
      condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))

      inputs:
        targetType: 'filePath'
        arguments: -Key $(PSApiKey) -Path '$(galleryDeploymentPath)'
        filePath: ./Deploy/Publish.ps1

        errorActionPreference: 'stop'
        failOnStderr: true
        pwsh: true

- stage: CreateChangelog
  displayName: 'Upload Changelog'
  dependsOn: []

  jobs:
  - job: GenerateChangelog
    displayName: "Generate Changelog"
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/heads/master'))
    pool:
      vmImage: ubuntu-latest
    variables:
      filePath: '$(System.DefaultWorkingDirectory)/Changelog.md'

    steps:
    - task: PowerShell@2
      displayName: 'Create Changelog'
      inputs:
        targetType: 'filepath'
        filePath: ./Build/New-Changelog.ps1
        arguments: -Path '$(filePath)' -ApiKey $(GithubApiKey) -Verbose

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Changelog'
      inputs:
        path: '$(filePath)'
        artifact: Changelog
