# YAML spec:
# https://aka.ms/yaml

name: Build & Test - Azure

trigger:
  branches:
    include:
      - master
  tags:
    include:
      - '*'

pr:
- master

jobs:

- job: Linux
  pool:
    vmImage: ubuntu-latest

  steps:
  - template: templates/environment-setup.yml
  - template: templates/build-steps.yml
  - task: PublishPipelineArtifact@1
    displayName: 'Publish Built Module Artifact'
    inputs:
      path: '$(System.DefaultWorkingDirectory)/PSKoans'
      artifact: PSKoans

- job: Windows
  pool:
    vmImage: windows-latest

  steps:
  - template: templates/environment-setup.yml
  - template: templates/build-steps.yml

- job: MacOS
  pool:
    vmImage: macOS-latest

  steps:
  - template: templates/environment-setup.yml
  - template: templates/build-steps.yml

- job: Publish
  displayName: "Publish Build"
  dependsOn:
    - Linux
    - Windows
    - MacOS
  pool:
    vmImage: ubuntu-latest

  steps:
  - template: templates/environment-setup.yml
  - task: DownloadPipelineArtifact@2
    displayName: 'Download Built Module Artifact'
    inputs:
      artifact: PSKoans
      path: '$(System.DefaultWorkingDirectory)/Deploy/FileSystem/PSKoans'

  - task: PowerShell@2
    displayName: 'Deploy to FileSystem'
    inputs:
      targetType: 'filePath'
      filePath: ./Deploy/Publish.ps1
      arguments: -Key 'filesystem' -Path '$(System.DefaultWorkingDirectory)/Deploy/FileSystem' -OutputDirectory '$(System.DefaultWorkingDirectory)/Deploy/FileSystem'

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true

  - task: PowerShell@2
    displayName: 'Create Changelog'
    inputs:
      targetType: 'filepath'
      filePath: ./Build/New-Changelog.ps1
      arguments: -Path '$(System.DefaultWorkingDirectory)/Changelog.md' -ApiKey $(GithubApiKey) -Verbose

  - task: PublishPipelineArtifact@1
    displayName: 'Publish Module Nupkg'
    inputs:
      path: '$(NupkgPath)'
      artifact: PSKoans.nupkg

  - task: PublishPipelineArtifact@1
    displayName: 'Publish Changelog'
    inputs:
      path: '$(System.DefaultWorkingDirectory)/Changelog.md'
      artifact: Changelog.md

  - task: PowerShell@2
    displayName: 'Deploy to PowerShell Gallery'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))

    inputs:
      targetType: 'filePath'
      arguments: -Key $(PSApiKey) -Path '$(System.DefaultWorkingDirectory)/Deploy/PSGallery'
      filePath: ./Deploy/Publish.ps1

      errorActionPreference: 'stop'
      failOnStderr: true
      pwsh: true
