steps:
- task: PowerShell@2
  displayName: 'Install Dependencies'

  inputs:
    targetType: 'inline'
    script: |
      $Params = @{
          Scope = 'CurrentUser'
          Force = $true
      }

      Write-Host "Installing Modules"
      $Params.Name = @( 'PSDeploy', 'BuildHelpers', 'PlatyPS' )
      $Params | Out-String | Write-Host
      Install-Module @Params

      $Params.Name = 'Pester'
      $Params.SkipPublisherCheck = $true
      $Params.MinimumVersion = (Get-Module -ListAvailable ./PSKoans).RequiredModules.Where{$_.Name -eq 'Pester'}.Version
      $Params | Out-String | Write-Host
      Install-Module @Params
      $Params.Remove('SkipPublisherCheck')
      $Params.Remove('MinimumVersion')

      $Params.Name = 'EZOut'
      $Params.AllowClobber = $true
      $Params | Out-String | Write-Host
      Install-Module @Params

    errorActionPreference: 'stop'
    failOnStderr: true
    pwsh: true

- task: PowerShell@2
  displayName: 'Initialize Environment'

  inputs:
    targetType: 'filePath'
    filePath: ./Build/Initialize-Environment.ps1

    errorActionPreference: 'stop'
    failOnStdErr: true
    pwsh: true
